body * {
    font-family: 'Roboto', sans-serif;
}
    
:root {
    --black: #212529;
    --success: #28a745;
    --light: #F8F9FA;
    --white: #fff;
    --gray: #707070;
}
    
.success {
    background-color: var(--success);
}
    
.card-title{
    color: var(--black);
}
    
.card-title,
.card-text,
.card-company,
footer p,
.form-control {
    font-weight: 300;
}
    
.card-text,
.fa-map-marker-alt,
.form-control,
footer p {
    color: var(--gray);
}
    
.card-company {
    font-size: 0.8rem;
}
    
.fa-map-marker-alt {
    font-size: 0.6rem;
}
    
.newsletter h5 {
    font-size: 1.3125rem;
    color: var(--white);
}
    
.card-offer {
    font-size: 1.25rem;
    color: var(--success);
    font-weight: 500;
}
    
.card-pricing {
    padding: 1rem 1.4rem;
}
    